* {
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  color: rgb(255, 212, 131);
}

div {
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: darkslategray;
  border: none;
  text-align: center;
  color: rgb(255, 216, 139);
}

input:focus {
  outline: none;
}

#inp {
  background-color: white;
  width: 300px;
  position: absolute;
  top: 40px;
  border: none;
  box-shadow: 0 2px 8px gray;
  color: black;
  text-align: left;
}
